
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cadastro de Quartos</title>
</head>
<body>
	<form action="/Quarto/create" method="post">
		<div>
			<label> Nome do quarto </label>
			<input type="text" name="nomeQuarto" >
		</div>	
	    	<label> quantidade de pessoas </label>
			<input type="text" name="qtdPessoas" >
		<div>	
			<label> Tipo de cama </label>
			<input type="text" name="tipoDeCama" >
		</div>
		<!--  <div>	
			<label> status </label>
			<input type="text" name="status" >
		</div>-->
		<button type="submit">Cadastrar</button>
	</form>
</body>
</html>