<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Quartos</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="style/styleCss.css" />
</head>
<body>
	<button>
		<a href="/" url="/home">Home</a>
	</button>
	<button>

	</button>
	<br/>
	<br/>
	<table>
		<tr>
			<td>Nome do Quarto</td>
			<td>Capacidade</td>
			<td>Tipo de cama</td>
			<td>Status</td>
			<td></td>
			<td></td>
		</tr>
		<tr th:each="q : ${quartos}" >
			<td th:text="${q.nomeQuarto}"></td>
			<td th:text="${q.qtdPessoas}"></td>
			<td th:text="${q.tipodeCama}"></td>
			<td th:text="${q.status}"></td>
			<!--  <td th:text="${q.tipoDeCama}"></td>-->
			
			<td>	
				<a th:href="@{preupdate/{Id} (Id=${q.id})}">
					<span title="Editar">editar</span>
				</a>
			</td>	
			<td>
				<a th:href="@{deletar/{Id} (Id=${q.id})} " method="POST">
					<span title="Deletar">deletar</span>
				</a>
			</td>
		</tr>
		
	</table>

</body>


</html>