<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<br />
		<div class="container" style="height: 100vh;">
			<form>
				<div class="row" style="margin:10px;">
					<div class="colcol-sm-5">
						<input  type="text" class="form-control " placeholder="Pesquisar"> &nbsp;
					</div>
					&nbsp;&nbsp;
					<div class="colcol-sm-3">
						<button type="submit" class="btn btn-warning" >Pesquisar</button>
					</div>
					&nbsp;&nbsp;
					<div class="colcol-sm-3">
						<a href="/quarto/cadastrarQuartos" class="btn btn-warning">Cadastrar Quarto</a>
					</div>
					</div>
			</form>
			<div>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th>Quarto</th>
							<th>Quantidade de pessoas</th>
							<th>Tipo de cama</th>
							<th>status</th>
							<th> </th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="q : ${quartos}">
							<td><span th:text="${q.nomeQuarto}"></span></td>
							<td><span th:text="${q.qtdPessoas}"></span></td>
							<td><span th:text="${q.tipoDeCama}"></span></td>
							<td><span th:text="${q.status}"></span></td>
						
						  	<td>	
								<a th:href="@{preupdate/{Id} (Id=${q.id})}">
								<span title="Editar"> editar</span>
								</a>
							</td>	
							<td>
								<a th:href="@{deletar/{Id} (Id=${q.id})} " method="POST">
								<span title="Deletar">deletar</span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>

</html>