<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	
	<section class="layout-content" layout:fragment="corpo">
		</br>
		<div class="container" align="center" style="height: 135vh; width: 50rem; background-color:rgb(243, 239, 188)">
		<br/>
			<h2>Cadastro de Reservas</h2>
			<p>Bem vindo ao site do Hotel Sunshine</p>
			
			
			<form th:action="${reserva.id} == null ? @{/reserva/create} : @{/reserva/editar}"
				  th:object="${reserva}" method="post">
				  
				  <div th:replace="fragments/validacao :: validacao"></div> 		
					
				  <div class="form-row col-md-3">
					<label for="exampleFormControlSelect1">Número de pessoas</label> <select
						class="form-control" id="exampleFormControlSelect1"
						th:field="*{nPessoas}">
						<option th:each="i : ${#numbers.sequence(1, 10)}" th:value="${i}"
							th:text="${i}"></option>
					</select>
				  </div>
					
					</br>
					<div class="form-row col-md-6">
						<label>Data de entrada</label> 
						<input type="date" id="datadeentrada" th:field="*{dataEntradaTemp}" th:classappend="${#fields.hasErrors('dataEntradaTemp')} ? 'is-invalid'" required>
						<div class="invalid-feedback">Por favor, informe uma quatidade válida.</div>
					</div>
					</br>
					<div class="form-row col-md-6">
						<label >Data de saida</label>
						<input type="date" id="datadesaida" th:field="*{dataSaidaTemp}" th:classappend="${#fields.hasErrors('dataSaidaTemp')} ? 'is-invalid'" required>
						<div class="invalid-feedback">informação inválida.</div>
					</div>
					</br>
					<div class="form-row col-md-6">
						<label >Preço da diaria</label>
						<input type="number" id="preco" th:field="*{precoDiaria}" th:classappend="${#fields.hasErrors('precoDiaria')} ? 'is-invalid'" required>
						<div class="invalid-feedback">informação inválida.</div>
					</div>
					</br>
					<div>
					
				   <select th:field="*{cliente}">
                     <option value=""> -- </option>
                     <option th:each="cliente : ${clientes}" th:value="${cliente.Id}" th:utext="${cliente.nome}"  multiple="multiple"/>
                  </select>
					
					<select th:field="*{quartos}">
                     <option value=""> -- </option>
                     <option th:each="quarto : ${quartos}" th:value="${quarto.Id}" th:utext="${quarto.nomeQuarto}"  multiple="multiple"/>
                  </select>
					
					<!-- <select name="status">
    				<option th:each="cliente : ${clientes}" th:value="${statusOpt}" th:text="${statusOpt}"></option>
					
					</select>-->
					</div>
					</br>
				 		<input type="hidden" id="Id" th:field="*{Id}">
						<!-- Input escondido carrega o Id para o método edit -->
					</br>
					<button class=" btn btn-success" type="submit" href="/quarto" url="/quarto">Enviar</button>
					<button type="reset" class="btn btn-success" href="/" url="/home">Limpar</button>
				
				<br/>
				
				<div class="colcol-md-12">
				<a href="/reserva/listar" class="btn btn-warning">voltar</a>
				</div>
			</form>
			</div>
			<br/>
		<script>
		
		
		/*$(document).ready(function() {
		    console.log( "ready!" );
		});
			
		$.ajax({
		    type: 'POST',
		    url: 'reserva/carregarDatas',
		    contentType: 'application/json',
		    data: dataEntrada:dataEntrada, dataSaida:dataSaida,
		    success : function(data){
		        innerOptionsInHTML(data);
		    }
		}).done(function() {
		    console.log("success");
		}).fail(function() {
		    console.log("error");
		});*/
		
		
		
		// Exemplo de JavaScript inicial para desativar envios de formulário, se houver campos inválidos.
		(function() {
		 'use strict';
	      window.addEventListener('load',function() {
		 // Pega todos os formulários que nós queremos aplicar estilos de validação Bootstrap personalizados.
		    var forms = document.getElementsByClassName('needs-validation');
	    // Faz um loop neles e evita o envio
			var validation = Array.prototype.filter.call(forms,function(form) {
								form.addEventListener('submit',function(event) {
									if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
									}
									 form.classList.add('was-validated');
								 },false);
			});
		}, false);
	})();
			
	
			
			
		</script>
	</section>
</body>
</html>
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
