<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Hotel Sunshine</title>
<meta name="description"
	content="Aprenda a criar um site completo que usa formulários em HTML">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
</head>

<body>
	<h1>Bem vindo ao site do Hotel Sunshine</h1>
	<h2>Formulário de Reserva</h2>
	<br />
	<form
		th:action="${reserva.id} == null ? @{/reserva/create} : @{/reserva/editar}"
		th:object="${reserva}" method="post">

		<fieldset>
			<legend>Dados</legend>
			<div id="cadastro">
				<label> Numero de pessoas </label> <input id="numerodepessoas"
					type="number" th:field="*{nPessoas}">
				<!-- <input type="number" name="nPessoas" >  -->
			</div>
			<label> Data de entrada </label> <input id="datadeentrada"
				type="date" th:field="*{dataEntrada}">
			<div>
				<label> Data de saida </label> <input type="date"
					th:field="*{dataSaida}">
			</div>
			<label> Preço da diaria </label> <input type="number"
				th:field="*{precoDiaria}">
			<div>
				<label> total </label> <input type="text" th:field="*{total}">

			</div>
			<input type="hidden" id="Id" th:field="*{Id}">
			<button type="submit">Cadastrar</button>

		</fieldset>

	</form>

</body>
</html>
