<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Atualização de Funcionarios</title>
</head>
<body>
	<form action="/Funcionario/update" method="post">
		<div>
			<label> ID do Funcionario </label>
			<input type="text" name="id" >
		</div>	
	    	<label> Nome </label>
			<input type="text" name="nome" >
		<div>	
			<label> CPF </label>
			<input type="text" name="cpf" >
		</div>
			<label> Email </label>
			<input type="text" name="email" >
		<div>
		 	<label> Senha </label>
			<input type="text" name="senha" >
		</div>
			<label> Telefone </label>
			<input type="text" name="telefone" >
		<div>
		
		
		</div>
		
		<button type="submit">Cadastrar</button>
	</form>
</body>
</html>