
<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		</br>
		<div class="container" align="center"
			style="height: 135vh; width: 50rem; background-color: rgb(243, 239, 188)">
			<br />
			<h2>Cadastro de Funcionario</h2>
			<p>Bem vindo ao site do Hotel Sunshine</p>


			<form
				th:action="${funcionario.id} == null ? @{/funcionario/create} : @{/funcionario/editar}"
				th:object="${funcionario}" method="post">

				<div th:replace="fragments/validacao :: validacao"></div>
				<!-- Aqui traz o fragmento que trará o erro de validação caso haja erros(precisa ficar dentro da tag <form>) -->
				<div class="form-row col-md-6">
					<label for="name">Nome do funcionario</label> <input type="text"
						class="form-control" id="nomefuncionario"
						placeholder="Nome do funcionario" th:field="*{nome}"
						th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'"
						required>
					<div class="invalid-feedback">Por favor, informe um nome
						válido.</div>
				</div>
				</br>
				<div class="form-row col-md-6">
					<label>CPF </label> <input type="text" class="form-control"
						id="cpffuncionario" size="14" maxlength="14" th:field="*{cpf}"
						th:classappend="${#fields.hasErrors('cpf')} ? 'is-invalid'"
						required>
					<div class="invalid-feedback">Por favor, informe uma
						quatidade válida.</div>
				</div>
				</br>
				<div class="form-row col-md-6">
					<label>Email </label> <input type="text" class="form-control"
						id="emailfuncionario" th:field="*{email}"
						th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"
						required>
					<div class="invalid-feedback">informação inválida.</div>
				</div>
				</br>
				<div class="form-row col-md-6">
					<label>Senha </label> <input type="text" class="form-control"
						id="senhafuncionario" th:field="*{senha}"
						th:classappend="${#fields.hasErrors('senha')} ? 'is-invalid'"
						required>
					<div class="invalid-feedback">informação inválida.</div>
				</div>
				</br>
				<div class="form-row col-md-6">
					<label>Telefone </label> <input type="text" class="form-control"
						id="senhafuncionario" th:field="*{telefone}"
						th:classappend="${#fields.hasErrors('telefone')} ? 'is-invalid'"
						required>
					<div class="invalid-feedback">informação inválida.</div>
				</div>
				</br> <input type="hidden" id="Id" th:field="*{Id}">
				<!-- Input escondido carrega o Id para o método edit -->
				</br>
				<button class="btn btn-success" type="submit" href="/funcionario"
					url="/funcionario">Enviar</button>
				<button type="reset" class=" btn btn-success" href="/" url="/home">Limpar</button>

				<br />

				<div class="colcol-md-12">
					<a href="/funcionario/listarFuncionarios" class="btn btn-warning">voltar</a>
				</div>
			</form>
		</div>
		<br />
		<script>
			// Exemplo de JavaScript inicial para desativar envios de formulário, se houver campos inválidos.
			(function() {
				'use strict';
				window
						.addEventListener(
								'load',
								function() {
									// Pega todos os formulários que nós queremos aplicar estilos de validação Bootstrap personalizados.
									var forms = document
											.getElementsByClassName('needs-validation');
									// Faz um loop neles e evita o envio
									var validation = Array.prototype.filter
											.call(
													forms,
													function(form) {
														form
																.addEventListener(
																		'submit',
																		function(
																				event) {
																			if (form
																					.checkValidity() === false) {
																				event
																						.preventDefault();
																				event
																						.stopPropagation();
																			}
																			form.classList
																					.add('was-validated');
																		},
																		false);
													});
								}, false);
			})();
		</script>
	</section>
</body>
</html>