<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Quartos</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="style/styleCss.css" />
</head>
<body>
	<button>
		<a href="/" url="/home">Home</a>
	</button>
	<button>

	</button>
	<br/>
	<br/>
	<table>
		<tr>
			<td>Nome</td>
			<td>CPF</td>
			<td>Email</td>
			<td>Senha</td>
			<td>Telefone</td>
			<td></td>
			<td></td>
		</tr>
		<tr th:each="f : ${funcionarios}" >
			<td th:text="${f.nome}"></td>
			<td th:text="${f.cpf}"></td>
			<td th:text="${f.email}"></td>
			<td th:text="${f.senha}"></td>
			<td th:text="${f.telefone}"></td>
			
						
			<td>	
				<a th:href="@{preupdate/{Id} (Id=${f.id})}">
					<span title="Editar">editar</span>
				</a>
			</td>	
			<td>
				<a th:href="@{deletar/{Id} (Id=${f.id})} " method="POST">
					<span title="Deletar">deletar</span>
				</a>
			</td>
		</tr>
		
	</table>


</body>


</html>