<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<div class="container" align="center"
			style="height: 135vh; width: 50rem; background-color: rgb(243, 239, 188)">

			<form method="post" target="pagseguro"
				action="https://pagseguro.uol.com.br/v2/checkout/payment.html">

				<!-- Campos obrigatórios -->
				<input name="receiverEmail" type="hidden"
					value="karinykeny@gmail.com">
				<!-- Em value colocar um email válido -->
				<input name="currency" type="hidden" value="BRL">
				<!-- Em value: No momento, a única opção disponível é BRL (Real). -->

				<!-- Itens do pagamento (ao menos um item é obrigatório) -->
				<input name="itemId1" type="hidden" value="0001">
				<!-- Em value: Identificam os iten sendo pago -->
				<input name="itemDescription1" type="hidden"
					value="Apartamento Standard">
				<!-- Em value: Descrições dos itens -->
				<input name="itemAmount1" type="hidden" value="200.00">
				<!-- Em value: Valores unitários dos itens -->
				<input name="itemQuantity1" type="hidden" value="3">
				<!-- Em value: IQuantidades dos itens -->
				<input name="itemWeight1" type="hidden" value="0000">
				<!-- Em value: Pesos dos itens, nesse caso é passado 0000 -->

				<!-- submit do form (obrigatório) -->
				<input alt="Pague com PagSeguro" name="submit" type="image"
					src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar.gif" />


				<div class="checkout-header">
					<h1 class="checkout-title">
						Pagamento com Cartão <span class="checkout-price"></span>
					</h1>



					<div class="form-row col-md-6">
						<label for="numeroCartao">Numero do Cartao</label> <input
							type="text" class="form-control" id="numeroCartao"
							th:field="*{numeroCartao}" placeholder="4111 1111 1111 1111"
							 required>
						<div class="invalid-feedback">Por favor, informe um numero
							valido de cartão</div>
					</div>

					<div class="form-row col-md-6">
						<label for="name">Nome Do Titular</label> <input type="text"
							class="form-control" id="nome" th:field="*{nome}"
							placeholder="Nome Do titular" required>
						<div class="invalid-feedback">Por favor, informe um nome
							válido.</div>
					</div>
					<div class="form-row col-md-6">
						<label for="numeroDeParcelas">Numero de parcelas</label> <input
							type="number" class="form-control" id="numeroDeParcelas"
							th:field="*{numeroDeParcelas}" required>
						<div class="invalid-feedback">Por favor, informe um numero
							valido de parcelas</div>
					</div>
					
					<div class="form-row col-md-4">
						<label for="reserva">Reserva</label> <select id="reserva"
							class="form-control" th:field="*{reserva}">
							<option value="">Selecione</option>
							<option th:each="r: ${reservas}"
							 th:value="${r.id}" th:text="${r.id}">Reserva</option>

						</select>

					</div>



					
					<button class="btn btn-warning" type="submit" >Enviar</button>

			</form>

		</div>
	</section>
</body>
</html>