<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<br />
		<div class="container" style="height: 100vh;">
			<form>
				<div class="row" style="margin:10px;">
					<div class="colcol-sm-5">
						<input  type="text" class="form-control " placeholder="Pesquisar"> &nbsp;
					</div>
					&nbsp;&nbsp;
					<div class="colcol-sm-3">
						<button type="submit" class="btn btn-warning" >Pesquisar</button>
					</div>
					&nbsp;&nbsp;
					<div class="colcol-sm-3">
						<a href="clientes/cadastrar" class="btn btn-warning">Cadastrar Cliente</a>
					</div>
					</div>
			</form>
			<div>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th>Id</th>
							<th>Nome</th>
							<th>CPF</th>
							<th>E-mail</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cli : ${clientes}">
							<td><span th:text="${cli.id}"></span></td>
							<td><span th:text="${cli.nome}"></span></td>
							<td><span th:text="${cli.cpf}"></span></td>
							<td><span th:text="${cli.email}"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>

</html>