<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="../../static/css2/style.css"rel="stylesheet" th:href="@{/css2/style.css}"/>
</head>
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebarCliente">
		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Meus Dados</span></li>
			<li class="nav-item"><a class="nav-link" href="/clientes/cadastro">
					<i class="oi oi-spreadsheet"></i> <span>Meu Cadastro</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/Clientes/editar/1}">
					<i class="oi oi-spreadsheet"></i> <span>Editar Cadastro</span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Minhas Reservas</span></li>
			<li class="nav-item"><a class="nav-link"
				href="/clientes/reservas"> <i class="oi oi-spreadsheet"></i> <span>Listar Reservas
				</span>
			</a></li>
		</ul>
	</nav>
</body>
</html>