
<!DOCTYPE html>
<html layout:decorate="~{layoutAdm}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<div class="container" align="center"
			style="height: 110vh; width: 50rem; background-color: rgb(243, 239, 188)">
			<br />
			<h2>Formulário de Funcionário</h2>
			<hr />
			<form th:action="@{/funcionario/seve}" th:object="${funcionario}"
				method="POST">

				<div th:replace="fragments/validacao :: validacao"></div>
				<!-- Aqui traz o fragmento que trará o erro de validação caso haja erros(precisa ficar dentro da tag <form>) -->

				<div class="form-row col-md-6">
					<label for="name">Nome do funcionário</label> <input type="text"
						th:field="*{nome}" class="form-control" id="nome"
						placeholder="Nome Completo"
						th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'"
						required>
					<div class="invalid-feedback">Por favor, informe um nome
						válido.</div>
				</div>
				<br />
				<div class="form-row col-md-6">
					<label for="cpf">CPF</label> <input type="text" th:field="*{cpf}"
						class="form-control" id="cpf" placeholder="000.000.000-00"
						size="14" maxlength="14"
						th:classappend="${#fields.hasErrors('cpf')} ? 'is-invalid'"
						required>
					<div class="invalid-feedback">Por favor, informe um CPF
						válido.</div>
				</div>
				<br />
				<div class="form-row col-md-6">
					<label for="email">Endereço de email</label> <input type="email"
						th:field="*{email}" class="form-control" id="email"
						aria-describedby="emailHelp" placeholder="Seu email"
						th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"
						required>
					<div class="invalid-feedback">Por favor, informe um email
						válido.</div>
					<small id="emailHelp" class="form-text text-muted">Nunca
						vamos compartilhar seu email, com ninguém.</small>
				</div>
				<br />
				<div class="form-row col-md-6">
					<label for="senha">Senha</label> <input type="text" id="senha"
						th:field="*{senha}" class="form-control"
						aria-describedby="passwordHelpInline" placeholder="Sua senha"
						maxlength="20" size="20"
						th:classappend="${#fields.hasErrors('senha')} ? 'is-invalid'"
						required>
					<div class="invalid-feedback">Por favor, informe uma senha
						válida.</div>
					<small id="passwordHelpInline" class="text-muted"> Deve ter
						entre 8 e 20 caracteres. </small>
				</div>
				<br />
				<div class="form-row col-md-6">
					<label>Telefone </label> <input type="text" th:field="*{telefone}"
						class="form-control" id="telefone" placeholder="(00)00000.0000"
						th:classappend="${#fields.hasErrors('telefone')} ? 'is-invalid'"
						required>
					<div class="invalid-feedback">informação inválida.</div>
				</div>
				<br />
				<hr />
				<input type="hidden" id="id" name="id" value="" />
				<button class="btn btn-warning" type="submit">Enviar</button>
				<button type="reset" class="btn btn-warning">Limpar</button>
				<br />
			</form>
		</div>
	</section>
</body>
</html>