<!DOCTYPE html>
<html layout:decorate="~{layoutAdm}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<br />
		<div class="container" style="height: 100vh;">
		<h3>Lista de Funcinários</h3>
		<br/>
			<form>
				<div class="row" style="margin: 10px;">
					<div class="col-sm-4">
						<input type="text" class="form-control " id="myInput"
							onkeyup="myFunction()"
							placeholder="Procure pelo CPF (000.000.000-00)">
					</div>
					<div>
						<a th:href="@{/funcionario/createFuncionarios}"
							class="btn btn-warning">Cadastrar Funcionário</a>
					</div>
				</div>
			</form>
			<div>
			<div th:replace="fragments/alert"></div>
				<div class="table-responsive">
					<table
						class="table table-sm table-striped table-hover table-bordered"
						id="myTable">
						<thead class="thead-dark">
							<tr class="header">
								<th>Nome</th>
								<th>CPF</th>
								<th>Email</th>
								<th>Senha</th>
								<th>Telefone</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="f : ${funcionario}">
								<td><span th:text="${f.nome}"></span></td>
								<td><span th:text="${f.cpf}"></span></td>
								<td><span th:text="${f.email}"></span></td>
								<td><span th:text="${f.senha}"></span></td>
								<td><span th:text="${f.telefone}"></span></td>
								<td align="center"><div class="btn-group pull-right">
										<a class="btn btn-sm btn-warning"
											th:href="@{edit/{id}(id=${f.id})}">Editar</a> 
											
										<button class="delete btn btn-sm btn-danger" type="button" 
										        data-toggle="modal" data-target="#excluirModal" 
										        th:id="${ 'btn_funcionario/deletar/' +f.id}"  
										        method="POST">Excluir</button>
									</div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div th:replace="componentes/modal :: modal"></div>
		<script type="text/javascript">
			var url = '';

			$('button[id*="btn_"]').click(
					function() {
						url = "http://localhost:8080/"
								+ $(this).attr('id').split("_")[1];
					});

			$('#ok').click(function() {
				document.location.href = url;
			});

			function myFunction() {
				// Declarar variáveis
				var input, filter, table, tr, td, i, txtValue;
				input = document.getElementById("myInput");
				filter = input.value.toUpperCase();
				table = document.getElementById("myTable");
				tr = table.getElementsByTagName("tr");
				y = 0;
				// Percorra todas as linhas da tabela e oculte aqueles que não correspondem à consulta de pesquisa
				for (i = 0; i < tr.length; i++) {
					td = tr[i].getElementsByTagName("td")[1];
					if (td) {
						txtValue = td.textContent || td.innerText;
						if (txtValue.toUpperCase().indexOf(filter) > -1) {
							tr[i].style.display = "";
						} else {
							tr[i].style.display = "none";
						}
					}
				}
			}
		</script>
	</section>
</body>

</html>