<!DOCTYPE html>
<html layout:decorate="~{layoutAdm}">
<head>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<div class="container"
			style="height: 100vh; width: 50rem; background-color: rgb(243, 239, 188)">
			<br />
			<h2>Pagamento de Reservas</h2>
			<hr />
			<div th:replace="fragments/alert"></div>
			<form th:action="@{/pagamento/salvar}" th:object="${reserva}"
				method="POST">

				<div th:replace="fragments/validacao :: validacao"></div>
				<!-- Aqui traz o fragmento que trará o erro de validação caso haja erros(precisa ficar dentro da tag <form>) -->

				<!--<div class="form-row col-md-6">
					  <label for="cliente">CPF do Cliente</label> <label type="text"
						th:field="*{cliente}" th:each="c: ${clientes}" th:text="${c.cpf}"
						class="form-control" id="cliente"></label>
				</div>
				<br />-->
				<!--<div class="form-row col-md-4">
					<label for="Quarto">Quarto</label> <label id="quarto"
						class="form-control" th:field="*{quartos}" th:each="q: ${quartos}" th:text="${q.nomeQuarto}"></label>
				</div>-->
				<div class="row" style="margin: 10px 0;">
					<div class="form-row col-4">
						<label for="example-date-input" class="col-form-label">Check-in</label>
						<input class="form-control" type="date" id="dataEntrada"
							th:field="*{dataEntrada}" readonly>
					</div>
					<div class="form-row col-4">
						<label for="example-date-input" class="col-form-label">Check-out</label>
						<input class="form-control" type="date" id="dataSaida"
							th:field="*{dataSaida}" readonly>
					</div>
				</div>
				<br />
				<div class="input-group mb-3 col-md-6">
					<label>Preço diaria:</label>&emsp;
					<div class="input-group-prepend">
						<span class="input-group-text">$</span>
					</div>
					<input type="number" step="any" class="form-control"
						id="precoDiaria" th:field="*{precoDiaria}"
						readonly>
					<div class="input-group-append"></div>
				</div>
				<div class="input-group mb-3 col-md-6">
					<label>Preço Total:</label>&emsp;
					<div class="input-group-prepend">
						<span class="input-group-text">$</span>
					</div>
					<input type="text" class="form-control" id="total"
						th:field="*{total}"
						readonly>
					<div class="input-group-append"></div>
				</div>
				<div class="form-row col-md-3">
					<label for="exampleFormControlSelect1">Número de pessoas</label> <select
						class="form-control" id="exampleFormControlSelect1"
						th:field="*{nPessoas}"
						readonly>
						<option th:each="i : ${#numbers.sequence(1, 10)}" th:value="${i}"
							th:text="${i}"></option>
					</select>
				</div>
				<br />
				<hr />
				<div
					style="margin: 10px 10; padding: 10px; display: flex; justify-content: flex-end;">
					<form method="post" target="pagseguro"
						action="https://pagseguro.uol.com.br/v2/checkout/payment.html">

						<!-- Campos obrigatórios -->
						<input name="receiverEmail" type="hidden"
							value="karinykeny@gmail.com">
						<!-- Em value colocar um email válido -->
						<input name="currency" type="hidden" value="BRL">
						<!-- Em value: No momento, a única opção disponível é BRL (Real). -->

						<!-- Itens do pagamento (ao menos um item é obrigatório) -->
						<input name="itemId1" type="hidden" value="0001">
						<!-- Em value: Identificam os iten sendo pago -->
						<input name="itemDescription1" type="hidden"
							value="Apartamento Standard">
						<!-- Em value: Descrições dos itens -->
						<input name="itemAmount1" type="hidden" value="200.00">
						<!-- Em value: Valores unitários dos itens -->
						<input name="itemQuantity1" type="hidden" value="3">
						<!-- Em value: IQuantidades dos itens -->
						<input name="itemWeight1" type="hidden" value="0000">
						<!-- Em value: Pesos dos itens, nesse caso é passado 0000 -->

						<!-- submit do form (obrigatório) -->
						<input type="hidden" id="id" name="id" value="" /> <input
							alt="Pague com PagSeguro" name="submit" type="image"
							src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar.gif" />

					</form>
				</div>
				<br />
			</form>
			<!--   <script type="text/javascript">
				jQuery(function($) {
					$("#precoDiaria, #total").mask('#.##0,00', {
						reverse : true
					});

				});
			</script>-->
	</section>
</body>
</html>
