<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<br />
		<div class="container" align="center" style="height: 10vh;">
			<h3>Acomodações</h3>
			<p>São 100 apartamentos projetados para melhor servi-lo, seja a
				negócios ou a lazer.</p>
		</div>
		<br /> <br />
		<div class="container" align="center" style="height: 240vh;">

			<div class="row">
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" th:src="@{/img/Luxo Gold.png}"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Suítes Luxo Gold - Diárias de
								R$500,00</h5>
							<p class="card-text">Com vista parcial da praia de Boa Viagem
								as unidades de apartamento Luxo estão distribuídas do 2º ao 15º
								piso. Acomodam dois adultos.</p>
							<a href="#" class="btn btn-warning" align="center">Saiba mais</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" th:src="@{/img/Luxo Gold.png}"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Suítes Luxo Gold - Diárias de
								R$500,00</h5>
							<p class="card-text">Com vista parcial da praia de Boa Viagem
								as unidades de apartamento Luxo estão distribuídas do 2º ao 15º
								piso. Acomodam dois adultos.</p>
							<a href="#" class="btn btn-warning" align="center">Saiba mais</a>
						</div>
					</div>
				</div>
				<br />
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" th:src="@{/img/Luxo Gold.png}"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Suítes Luxo Gold - Diárias de
								R$500,00</h5>
							<p class="card-text">Com vista parcial da praia de Boa Viagem
								as unidades de apartamento Luxo estão distribuídas do 2º ao 15º
								piso. Acomodam dois adultos.</p>
							<a href="#" class="btn btn-warning" align="center">Saiba mais</a>
						</div>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" th:src="@{/img/Luxo Gold.png}"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Suítes Luxo Gold - Diárias de
								R$500,00</h5>
							<p class="card-text">Com vista parcial da praia de Boa Viagem
								as unidades de apartamento Luxo estão distribuídas do 2º ao 15º
								piso. Acomodam dois adultos.</p>
							<a href="#" class="btn btn-warning" align="center">Saiba mais</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" th:src="@{/img/Luxo Gold.png}"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Suítes Luxo Gold - Diárias de
								R$500,00</h5>
							<p class="card-text">Com vista parcial da praia de Boa Viagem
								as unidades de apartamento Luxo estão distribuídas do 2º ao 15º
								piso. Acomodam dois adultos.</p>
							<a href="#" class="btn btn-warning" align="center">Saiba mais</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" th:src="@{/img/Luxo Gold.png}"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Suítes Luxo Gold - Diárias de
								R$500,00</h5>
							<p class="card-text">Com vista parcial da praia de Boa Viagem
								as unidades de apartamento Luxo estão distribuídas do 2º ao 15º
								piso. Acomodam dois adultos.</p>
							<a href="#" class="btn btn-warning" align="center">Saiba mais</a>
						</div>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" th:src="@{/img/Luxo Gold.png}"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Suítes Luxo Gold - Diárias de
								R$500,00</h5>
							<p class="card-text">Com vista parcial da praia de Boa Viagem
								as unidades de apartamento Luxo estão distribuídas do 2º ao 15º
								piso. Acomodam dois adultos.</p>
							<a href="#" class="btn btn-warning" align="center">Saiba mais</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" th:src="@{/img/Luxo Gold.png}"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Suítes Luxo Gold - Diárias de
								R$500,00</h5>
							<p class="card-text">Com vista parcial da praia de Boa Viagem
								as unidades de apartamento Luxo estão distribuídas do 2º ao 15º
								piso. Acomodam dois adultos.</p>
							<a href="#" class="btn btn-warning" align="center">Saiba mais</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" th:src="@{/img/Luxo Gold.png}"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Suítes Luxo Gold - Diárias de
								R$500,00</h5>
							<p class="card-text">Com vista parcial da praia de Boa Viagem
								as unidades de apartamento Luxo estão distribuídas do 2º ao 15º
								piso. Acomodam dois adultos.</p>
							<a href="#" class="btn btn-warning" align="center">Saiba mais</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br />
		<div class="container">
			<nav aria-label="Page navigation example" >
				<ul class="pagination" >
					<li class="page-item"><a class="page-link" href="#" 
						aria-label="Previous"> <span aria-hidden="true" style="color: black;">&laquo;</span>
					</a></li>
					<li class="page-item"><a class="page-link" href="#" style="color: black;">1</a></li>
					<li class="page-item"><a class="page-link" href="#" style="color: black;">2</a></li>
					<li class="page-item"><a class="page-link" href="#" style="color: black;">3</a></li>
					<li class="page-item"><a class="page-link" href="#"
						aria-label="Next"> <span aria-hidden="true" style="color: black;">&raquo;</span>
					</a></li>
				</ul>
			</nav>
		</div>
		<br />
	</section>
</body>
</html>