
<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<br />
		
			<div class="container">
			<div class="row">
			<div class="col-sm-6">
			<h3>Nosso Hotel</h3>
				<p align="Justify">Hotel é um estabelecimento comercial especializado em
					proporcionar acomodações para viajantes: a hospedagem mas por
					outras palavras, alojamentos pagos a curto prazo. Esse meio de
					hospedagem, geralmente, é classificado de uma a cinco estrelas, de
					acordo com o conforto, luxo e serviços oferecidos. A maioria dos
					hotéis também disponibiliza serviços de alimentação, eventos e
					outros para propiciar maior satisfação e permanência aos seus
					hóspedes. A oferta de alojamento de base, em tempos passados,
					consistia apenas em um quarto com uma cama, um armário, uma mesinha
					e um lavatório. Atualmente tem sido amplamente substituído por
					quartos com instalações modernas, incluindo casa de banho privada e
					ar condicionado ou climatizador. Recursos adicionais comuns
					encontrados em quartos de hotel são um telefone, um despertador,
					televisão, Internet e conectividade, salgadinhos e bebidas podem
					ser fornecidos em um minibar e instalações para fazer bebidas
					quentes. Hotéis maiores podem fornecer um número de instalações de
					hóspedes adicionais, tais como um restaurante, uma piscina ou de
					puericultura, e serviços de conferência e função social. Os quartos
					do hotel são normalmente numerados (ou chamado em alguns hotéis
					pequenos e B&Bs) para permitir que o cliente identifique seu
					quarto. Alguns hotéis oferecem refeições como parte de uma sala e
					arranjo bordo. No Reino Unido, um hotel é exigido por lei para
					servir comida e bebidas para todos os clientes dentro de
					determinados horários estabelecidos, para evitar este requisito não
					é raro se deparar com hotéis privados que não estão sujeitos a esta
					exigência. No Japão, hotéis cápsula fornecem uma quantidade
					minimizada do espaço da sala e instalações compartilhadas. No Reino
					Unido, Austrália, Canadá e Irlanda (e raramente em algumas partes
					dos Estados Unidos), a palavra também pode se referir a um pub ou
					bar e não pode oferecer alojamento. Na Índia e Bangladesh, a
					palavra também pode se referir a um restaurante.</p>

			</div>
			<div class="col-sm-6">
			<img class="d-block w-100" th:src="@{/img/sobre.png}" alt="First slide">
			</div>
		</div>
		<br />
	</section>
</body>
</html>