<style>
#div_esquerda{
  float: left;
  background-color: blue;
  
}
#div_centro{
 float: left;
 background-color: red;
}
#div_direita{
  float: left;
  background-color: gray;
}
</style>

<div id="div_esquerda">
ghwryhjty
je
</div>
<div id="div_centro">
htwrtbh
rgegrt
btybhty
</div>

<div id="div_direita" >
rgredhg
fef
georgian
</div>