body {
  position: absolute;
  left: -32px;
  top: 0px;
  background: #504be5;
}
form {
  position: absolute;
  width: 501px;
  height: 798px;
  left: 613px;
  top: 40px;
  color: #504be5;
  background: #fafafa;
  border-radius: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}
.p1 {
  position: absolute;
  width: 435px;
  height: 23px;
  left: 78px;
  top: 40px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
}
h1 {
  position: absolute;
  width: 435px;
  height: 141px;
  left: 78px;
  top: 107px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;

  color: #ffffff;
}
.p2 {
  position: absolute;
  width: 435px;
  height: 172px;
  left: 78px;
  top: 283px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
}
.l1 {
}
.l2 {
}
.l3 {
}
.l4 {
}
.l5 {
}
.l6 {
}
.in {
  position: absolute;
  background: #f1f0fd;
  border: 1px solid #504be5;
  box-sizing: border-box;
  border-radius: 4px;
  width: 421px;
  height: 55px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #444444;
}
#sl1 {
  position: absolute;
  width: 421px;
  height: 55px;
  background: #f1f0fd;
  border: 1px solid #504be5;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #444444;
}
#sl2 {
  position: absolute;
  width: 245px;
  height: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #444444;
}
.check1 {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 128px;
  top: 646px;

  border: 1px solid #c9c0c0;
  box-sizing: border-box;
  border-radius: 4px;
}
.check2 {
  font-size: 12px;
}
#checkbox {
  float: left;
}
.bnt {
  position: absolute;
  width: 421px;
  height: 55px;
  background: #ea9445;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
}
